:root {
    // 品牌色、tip色
    --vp-c-brand-1: #D7A184;
    --vp-c-brand-2: #EFDFCC;
    --vp-c-brand-3: #BA8E7A;
    --vp-c-brand-soft: #D4C2AD;

    // 把tip 改為品牌色 (Component: Custom Block)
    --vp-custom-block-tip-border: transparent;
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
    --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);

    // 字型設定
    --vp-font-family-base: 'Roboto', 'NotoSansTC', '微軟正黑體', 'Arial', sans-serif;
    --vp-font-family-mono: 'FiraCode', 'Roboto', sans-serif;
}

.dark {
    --vp-c-brand-1: #D7A184;
    --vp-c-brand-2: #EFDFCC;
    --vp-c-brand-3: #BA8E7A;
    --vp-c-brand-soft: #D4C2AD;
}