@mixin setSize($w: 0, $h: 0) {
    width: $w;
    height: $h;
}

@mixin setFlex($justify: center, $align: center, $gap: 0, $direction: '') {
    display: flex;

    @if $direction !='' {
        flex-direction: $direction;
    }

    align-items: $align;
    justify-content: $justify;

    @if $gap !=0 {
        gap: $gap;
    }
}

@mixin setRWD($size) {
    @media(max-width: $size) {
        @content;
    }
}